{% load static %}
<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="renderer" content="webkit">
<meta name="keywords" content="">
<meta name="description" content="">
<link rel="shortcut icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
<title>我的音乐</title>
{% block link %}{% endblock %}
</head>
{% block body %}{% endblock %}
<div class="footer" style="width: 100%">
<div class="copyright">
    <p>网站数据信息来源于网络</p>
</div>
</div>
</html>